---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import RotatingWords from '../components/RotatingWords.jsx';
---
<BaseLayout>
  <Header />

  <Hero />

  <section class="advice-block">
    <div class="vm-container">
      <RotatingWords client:load />
    </div>
  </section>

</BaseLayout>
